/* Correct Code */
body {
    color: #333; /* Fixed the invalid hex value */
    font-family: 'Helvetica', 'Arial', sans-serif; /* Added generic family keyword */
}

/* Uncomment the below lines to test incorrect code */
/*
body {
    color: #ZZZ;  // Stylelint should error on invalid hex
    font-family: "Helvetica", "Arial";  // Stylelint should error on missing generic family keyword
}
*/
